<div class="row">
 <div class="col-md-12">
 <h2>Categories <a href="/categories/add" class="btn btn-success pull-right">Add Category</a></h2>
 <hr />
    <table class="table table-hover table-responsive">
        <thead>
            <th>Category ID</th>
            <th>Category Name</th>
            <th></th>
        </thead>
        {{#each categories}}
            <tbody>
                <tr>
                    <td><a href="/posts?category={{id}}">{{id}}</a></td>
                    <td><a href="/posts?category={{id}}">{{category}}</a></td>
                    <td><a href="/categories/delete/{{id}}" class="btn btn-danger">Remove</a></td>
            </tr>
            </tbody>
        {{/each}}
    </table> 
    {{#unless categories}}  
        <div class="col-md-12 text-center">
        <strong>{{message}}</strong>
        </div>
    {{/unless}}
 </div>
</div>