<div class="row">
 <div class="col-md-12">
 <h2>Posts<a href="/posts/add" class="btn btn-success pull-right">Add Post</a></h2>
 <hr />
    {{#if posts}}  
        <table class="table table-striped table-hover table-responsive">
            <thead>
                <tr>
                    <th>Post ID</th>
                    <th>Title</th>
                    <th>Post Date</th>
                    <th>Category</th>
                    <th>Published</th>
                    <th></th>
                </tr>
            </thead>
            {{#each posts}}
                <tbody>
                    <tr>
                        <td>{{id}}</td>
                        <td>{{title}}</td>
                        <td>{{#formatDate postDate}}{{/formatDate}}</td>
                        <td><a href="/posts?category={{category}}">{{category}}</a></td>
                        <td>{{published}}</td>
                        <td><a href="posts/delete/{{id}}" class="btn btn-danger">Remove</a></td>
                    </tr>
                </tbody>
            {{/each}}
        </table> 
    {{else}}
        <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
        </div>
    {{/if}}                                 
 </div>
</div>